# Core
pandas
numpy
scikit-learn
matplotlib
seaborn
category-encoders

xgboost>=1.7.0
lightgbm>=4.3.0

xverse>=0.1.0
scorecardpy>=0.1.0

mlflow>=2.6.0

fastapi>=0.100.0
uvicorn>=0.23.0

pytest>=7.4.0
flake8>=6.1.0
black>=23.9.0

notebook>=6.6.0
ipykernel>=6.26.0

python-dateutil>=2.9.0
